.cursor {
    cursor: pointer
}

.p-ev-none {
    pointer-events: none
}

.p-ev-auto {
    pointer-events: auto
}

.blue-link {
    color: #1a0dab;
}

.blue-link:hover {
    color: #1a0dab;
    text-decoration: underline;
}

.v_hidden {
    visibility: hidden;
}

.disp_none {
    display: none;
}

.ovf-h {
    overflow: hidden
}