
    <!-- CASE STUDY -->
{% load static %}   
    <div id="cs_study_target" class="dark_section">
            <div id="cs-study-carousel" class="h-100 py-5 position-relative d-flex align-items-center">
                <div class="cs_study_slick_slider mb-0 mb-xl-0  pb-xl-0 w-100 ">
                    <div>
                        <div class="container active py-5 px-xl-5">
                            <div class="row no-gutters text-white py-5 ">
                                <!-- CASE STUDY LEFT PORTION -->
                                <div class="col-12 col-xl-4 order-last order-xl-first pt-5 pt-xl-0  ">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="w-100">
                                            <div class="mt-5 mt-xl-0 py-5 py-xl-0  text-center text-xl-left">
                                                <h2 class="mb-5 ff-pri fs-26 fs-xl-38 fw-400">Lily AI</h2>
                                                <p class="cs-study-p1 mb-0 mb-xl-5 mx-auto mx-xl-0  px-5 px-xl-0 ff-pri fs-16 lh-1-7 fw-300">
                                                    Lily collaborated with us to create Mobile App based Fashion
                                                    Recommendation solution. Lily Mobile App let women discover & buy
                                                    clothes according to their emotions and perceptions about their own
                                                    body.
                                                </p>
                                                <p class="cs-study-p2 mb-0 mx-auto mx-xl-0 px-5 px-xl-0  pt-5 ff-pri fs-12 fs-xl-14 fw-300 lh-1-7">
                                                    Website Development, Android App Development, iOS App Development,
                                                    Tablet App Development, UI/UX Design, Brand Identity
                                                </p>
                                            </div>
                                            <a href="https://www.behance.net/gallery/54712813/Lily-App-Branding-Website"
                                                target="_blank" class="ga-event" data-label="Lily Case studys"
                                                data-category="Casestudy">
                                                <button class="arrow__btn arrow__btn--black arrow__btn--vcs arrow__btn__mob mt-5 fs-12"></button>
                                            </a>
                                            <a href="https://www.behance.net/gallery/54712813/Lily-App-Branding-Website"
                                                target="_blank" class="ga-event" data-label="Lily Case studys"
                                                data-category="Casestudy">
                                                <button class="btn__mobile btn__mobile--white mb-3 mb-xl-0 fs-12">View Case
                                                    Study</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- CASE STUDY RIGHT PORTION -->
                                <div class="col-12 col-xl-8 order-first order-xl-last p-2 px-5 px-xl-0">
                                    <div class="cs-study-imgs d-flex align-items-end mt-5 pb-xl-5 position-relative">
                                        <div class="cs-anim-trg-1 cs-1-img-1 pb-5  position-absolute">
                                            <div class="h-100 w-100 no-animation position-relative">
                                                <div class="h-100 w-100 position-absolute"></div>
                                            </div>
                                        </div>
    
                                        <div class="cs-anim-trg-2 cs-1-img-2 position-absolute">
                                            <div class="h-100 w-100 position-relative">
                                                <div class="h-100 w-100 position-absolute"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div>
                        <div class="container py-5 px-xl-5 ">
                            <div class="row no-gutters text-white py-5 test5">
                                <!-- CASE STUDY LEFT PORTION -->
                                <div class="col-12 col-xl-4 order-last order-xl-first pt-5 pt-xl-0 test1 ">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="w-100">
                                            <div class="mt-5 mt-xl-0 py-5 py-xl-0  text-center text-xl-left">
                                                <h2 class="mb-5 ff-pri fs-26 fs-xl-38 fw-400">Unleash</h2>
                                                <p class="cs-study-p1 mb-0 mb-xl-3 mx-auto mx-xl-0  px-5 px-xl-0 ff-pri fs-16 lh-1-7 fw-300">
                                                    Unleash live is a cloud based software platform ingesting live video
                                                    and imagery, applying real time A.I. analytics and delivering instant
                                                    decision making capabilities to managing field operations.
                                                </p>
                                                <p class="cs-study-p1 mb-5 mb-xl-5 mx-auto mx-xl-0  px-5 px-xl-0 ff-pri fs-16 lh-1-7 fw-300">
                                                    We developed Unleash live App to control surveillance drones in real
                                                    time with live video streaming for A.I. Analytics.
                                                </p>
                                                <p class="cs-study-p2 mb-0 mx-auto mx-xl-0 px-5 px-xl-0  pt-0 ff-pri fs-12 fs-xl-14 fw-300 lh-1-7">
                                                    Android App Design & Development, Website UI/UX Design & Development
                                                </p>
                                            </div>
                                            <a class="v_hidden" href="" target="_blank" class="ga-event" data-label="Unleash Case studys"
                                                data-category="Casestudy">
                                                <button class="arrow__btn arrow__btn--black arrow__btn--vcs arrow__btn__mob mt-5 fs-12"></button>
                                            </a>
                                            <a class="disp_none" href="" target="_blank" class="ga-event" data-label="Unleash Case studys"
                                                data-category="Casestudy">
                                                <button class="btn__mobile btn__mobile--white mb-3 mb-xl-0 fs-12">View Case
                                                    Study</button>
                                            </a>
                                        </div>
    
                                    </div>
                                </div>
                                <!-- CASE STUDY RIGHT PORTION -->
                                <div class="col-12 col-xl-8 order-first order-xl-last p-2 px-5 px-xl-0 test4">
                                    <div class="cs-study-imgs d-flex align-items-end mt-5 pb-xl-5 position-relative">
                                        <div class="cs-anim-trg-1 cs-4-img-1 pb-5  position-absolute" data-animate="false">
                                            <div class="h-100 w-100 no-animation position-relative">
                                                <div class="h-100 w-100 position-absolute"></div>
                                            </div>
                                        </div>
    
                                        <div class="cs-anim-trg-2 cs-4-img-2 position-absolute">
                                            <div class="h-100 w-100 position-relative">
                                                <div class="h-100 w-100 position-absolute"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="test2">
                        <div class="container py-5 px-xl-5">
                            <div class="row no-gutters text-white py-5 ">
                                <!-- CASE STUDY LEFT PORTION -->
                                <div class="col-12 col-xl-4 order-last order-xl-first pt-5 pt-xl-0  ">
                                    <div class="d-flex align-items-center h-100">
    
                                        <div class="w-100">
                                            <div class="mt-5 mt-xl-0 py-5 py-xl-0  text-center text-xl-left">
                                                <h2 class="mb-5 ff-pri fs-26 fs-xl-38 fw-400">Inito</h2>
                                                <p class="cs-study-p1 mb-0 mb-xl-5 mx-auto mx-xl-0  px-5 px-xl-0 ff-pri fs-16 lh-1-7 fw-300">
                                                    Inito collaborated with us to build Inito Mobile App paired with Inito
                                                    fertility monitor & ovulation tracker device that allows users to
                                                    optimize their fertility cycle by applying image processing & measuring
                                                    fertility hormones.
                                                </p>
                                                <p class="cs-study-p2 mb-0 mx-auto mx-xl-0 px-5 px-xl-0  pt-5 ff-pri fs-12 fs-xl-14 fw-300 lh-1-7">
                                                    iOS App Development,
                                                    Android App Development,
                                                    UI/UX Design
                                                </p>
                                            </div>
                                            <a href="https://www.behance.net/gallery/61819275/Inito-App" target="_blank"
                                                class="ga-event" data-label="Inito Case studys" data-category="Casestudy">
                                                <button class="arrow__btn arrow__btn--black arrow__btn--vcs arrow__btn__mob mt-5 fs-12"></button>
                                            </a>
                                            <a href="https://www.behance.net/gallery/61819275/Inito-App" target="_blank"
                                                class="ga-event" data-label="Inito Case studys" data-category="Casestudy">
                                                <button class="btn__mobile btn__mobile--white mb-3 mb-xl-0 fs-12">View Case
                                                    Study</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- CASE STUDY RIGHT PORTION -->
                                <div class="col-12 col-xl-8 order-first order-xl-last p-2 px-5 px-xl-0">
                                    <div class="cs-study-imgs d-flex align-items-end mt-5 pb-xl-5 position-relative">
                                        <div class="cs-anim-trg-1 cs-2-img-1 pb-5  position-absolute">
                                            <div class="h-100 w-100 no-animation position-relative">
                                                <div class="h-100 w-100 position-absolute"></div>
                                            </div>
                                        </div>
    
                                        <div class="cs-anim-trg-2 cs-2-img-2 position-absolute">
                                            <div class="h-100 w-100 position-relative">
                                                <div class="h-100 w-100 position-absolute"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="container py-5 px-xl-5">
                            <div class="row no-gutters text-white py-5 test5">
                                <!-- CASE STUDY LEFT PORTION -->
                                <div class="col-12 col-xl-4 order-last order-xl-first pt-5 pt-xl-0 test1 ">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="w-100">
                                            <div class="mt-5 mt-xl-0 py-5 py-xl-0  text-center text-xl-left">
                                                <h2 class="mb-5 ff-pri fs-26 fs-xl-38 fw-400">Taste</h2>
                                                <p class="cs-study-p1 mb-0 mb-xl-5 mx-auto mx-xl-0  px-5 px-xl-0 ff-pri fs-16 lh-1-7 fw-300">
                                                    The Taste App is a recommendation platform powered by customers
                                                    financial data. Taste recommendation engine suggests dining options by
                                                    analysing customers spending pattern from the mapped Cards.
                                                </p>
                                                <p class="cs-study-p2 mb-0 mx-auto mx-xl-0 px-5 px-xl-0  pt-5 ff-pri fs-12 fs-xl-14 fw-300 lh-1-7">
                                                    iOS App Development, Android App Development & UI/UX Design
                                                </p>
                                            </div>
                                            <a class="v_hidden" href="" target="_blank" class="ga-event" data-label="The Taste App Case studys"
                                                data-category="Casestudy">
                                                <button class="arrow__btn arrow__btn--black arrow__btn--vcs arrow__btn__mob mt-5 fs-12"></button>
                                            </a>
                                            <a class="disp_none" href="" target="_blank" class="ga-event" data-label="The Taste App Case studys"
                                                data-category="Casestudy">
                                                <button class="btn__mobile btn__mobile--white mb-3 mb-xl-0 fs-12">View Case
                                                    Study</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- CASE STUDY RIGHT PORTION -->
                                <div class="col-12 col-xl-8 order-first order-xl-last p-2 px-5 px-xl-0 test4">
                                    <div class="cs-study-imgs d-flex align-items-end mt-5 pb-xl-5 position-relative">
                                        <div class="cs-anim-trg-1  cs-3-img-1 pb-5  position-absolute">
                                            <div class="h-100 w-100 no-animation position-relative">
                                                <div class="h-100 w-100 position-absolute"></div>
                                            </div>
                                        </div>
    
                                        <div class="cs-anim-trg-2 cs-3-img-2 position-absolute">
                                            <div class="h-100  w-100 position-relative">
                                                <div class="h-100  w-100 position-absolute"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
    
                </div>
                <div class="case_study_indicators align-self-end w-100"></div>
                <div class="cs-study__ctrl__wpr position-absolute p-0 w-100 h-100 p-ev-none">
                    <a class="carousel-control-prev slick-pre ml-4 ml-lg-0 p-ev-auto" role="button">
                        <img src="{% static 'web/images/home/control-arrow-left.svg' %}">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next slick-nex mr-4 mr-lg-0 p-ev-auto" role="button">
                        <img src="{% static 'web/images/home/control-arrow-right.svg' %}">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- CASE STUDY -->