<!-- Companies List -->

{% load static %}
<section id="companies" class="position-relative py-5">
        <div class="container my-5 py-0 py-xl-5">
            <h3 class="companies__head position-relative py-5 text-uppercase text-center text-xl-left fs-16 fs-xl-18 fw-400">Trusted
                By The
                World’s Best</h3>
            <div class="companies__tile__wpr px-xl-5 mx-xl-5">
                <div class="row no-gutters companies__tile__row">
                    <div class="col-6 col-xl-3 companies__tile position-relative">
                        <div id="company_logo-1" class="d-flex align-items-center companies__tile__img__wpr px-1  p-xl-0 mx-auto position-absolute">
                            <img class="img-fluid" src="{% static 'web/images/common/google@3x.png' %}">
                        </div>
                    </div>
                    <div class="col-6 col-xl-3 companies__tile position-relative">
                        <div id="company_logo-2" class="d-flex align-items-center companies__tile__img__wpr px-3  p-xl-4 mx-auto position-absolute">
                            <img class="img-fluid" src="{% static 'web/images/common/itc@3x.png' %}">
                        </div>
                    </div>
                    <div class="col-6 col-xl-3 companies__tile position-relative">
                        <div id="company_logo-3" class="d-flex align-items-center companies__tile__img__wpr  p-xl-1  mx-auto position-absolute">
                            <img class="img-fluid" src="{% static 'web/images/common/NYT.svg' %}">
                        </div>
                    </div>
                    <div class="col-6 col-xl-3 companies__tile position-relative">
                        <div id="company_logo-4" class="d-flex align-items-center companies__tile__img__wpr px-3  p-xl-4 mx-auto position-absolute">
                            <img class="img-fluid" src="{% static 'web/images/common/Mygov@3x.png' %}">
                        </div>
                    </div>
                    <div class="col-12 col-xl-9 mx-auto">
                        <div class="row no-gutters">
                            <div class="col-6 col-xl-4 companies__tile position-relative">
                                <div id="company_logo-5" class="d-flex align-items-center companies__tile__img__wpr  p-xl-2 mx-auto position-absolute">
                                    <img class="img-fluid" src="{% static 'web/images/common/lily.png' %}">
                                </div>
                            </div>
                            <div class="col-6 col-xl-4 companies__tile position-relative">
                                <div id="company_logo-6" class="d-flex align-items-center companies__tile__img__wpr  p-xl-2 mx-auto position-absolute">
                                    <img class="img-fluid" src="{% static 'web/images/common/unleash.png' %}">
                                </div>
                            </div>
                            <div class="col-6 col-xl-4 offset-3 offset-xl-0 companies__tile position-relative">
                                <div id="company_logo-7" class="d-flex align-items-center companies__tile__img__wpr  mx-auto  p-xl-2 position-absolute">
                                    <img class="img-fluid" src="{% static 'web/images/common/inito@3x.png' %}">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Companies List -->