<!-- Expertise -->
{% load static %}
<section id="expertise" class="position-relative dark_section">
        <div id="expertise_target" class="container-fluid p-0 m-0 w-100 h-100">
            <div class="row no-gutters d-flex align-items-center justify-content-center w-100 h-100">
                <div class="col-12 h-100">
                    <div class="position-relative h-100 w-100">
                        <div class="position-absolute bg-video-container">
                            <div class="h-100 w-100 position-absolute bg-video bg-video-1">
                                <img style="width:100%" src="{% static 'web/images/home/expertise/tile-bg-1.jpg' %}">
                            </div>
                            <div class="h-100 w-100 position-absolute bg-video bg-video-2">
                                <img style="width:100%" src="{% static 'web/images/home/expertise/tile-bg-2.jpg' %}">
                            </div>
                            <div class="h-100 w-100 position-absolute bg-video bg-video-3">
                                <img style="width:100%" src="{% static 'web/images/home/expertise/tile-bg-3.jpg' %}">
                            </div>
                            <div class="h-100 w-100 position-absolute bg-video bg-video-4">
                                <img style="width:100%" src="{% static 'web/images/home/expertise/tile-bg-4.jpg' %}">
                            </div>
                        </div>
                        <div class="position-absolute bg-container">
                            <div class="h-100 position-relative bg bg-1">
                                <img src="{% static 'web/images/home/expertise/exp-1.jpg' %}" >
                            </div>
                            <div class="h-100 position-relative bg bg-2">
                                <img src="{% static 'web/images/home/expertise/exp-2.jpg' %}" >
                            </div>
                            <div class="h-100 position-relative bg bg-3">
                                <img src="{% static 'web/images/home/expertise/exp-3.jpg' %}" >
                            </div>
                            <div class="h-100 position-relative bg bg-4">
                                <img src="{% static 'web/images/home/expertise/exp-4.jpg' %}" >
                            </div>
                        </div>
                        <div class="position-relative h-100 content-container">
                            <div class="h-100 position-relative p-4 content content-1" data-slide="1">
                                <div class="content-head position-relative h-100">
                                    <div class="services__tile__content position-relative mx-auto pt-5 h-100">
                                        <div class="services__tile__heading w-100 position-absolute h-100">
                                            <h1 class="lh-1-6 ff-pri fs-24 fw-300">Strategy, Research &
                                                <br /> Insights
                                            </h1>
                                            <div class="slide__up__content__wpr">
                                                <p class="services__tile__para pt-4 ff-pri fs-16 fw-300 lh-2">Weʼre
                                                    insight-driven, bringing brand, UX and technology together with a
                                                    human centered approach.
                                                </p>
                                                <div class="position-relative ">
                                                    <hr class="dash">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="services__tile_list_content mb-0 ff-pri fs-15 fw-300 lh-1-6 position-absolute">
                                            <div class="services__tile_list_content_wpr">
                                                <p>- Product & Service Strategy</p>
                                                <p>- Prototyping</p>
                                                <p>- Product Platform Strategy</p>
                                                <p>- Research & Insights</p>
                                            </div>
                                        </div>
                                        <!-- <div class="services__tile__btn position-absolute">
                                            <a href="#"><button type="button" class="arrow__btn arrow__btn--black arrow__btn--exp fs-18 "></button></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="h-100 position-relative p-4 content content-2" data-slide="2">
                                <div class="content-head position-relative h-100">
                                    <div class="services__tile__content position-relative mx-auto pt-5 h-100">
                                        <div class="services__tile__heading w-100 position-absolute h-100">
                                            <h1 class="lh-1-6 ff-pri fs-24 fw-300">User Experience Design
                                            </h1>
                                            <div class="slide__up__content__wpr">
                                                <p class="services__tile__para pt-4 ff-pri fs-16 fw-300 lh-2">We care
                                                    deeply about our craft and work with brands who understand the
                                                    importance of investing in design.
                                                </p>
                                                <div class="position-relative ">
                                                    <hr class="dash">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="services__tile_list_content mb-0 ff-pri fs-15 fw-300 lh-1-6 position-absolute">
                                            <div class="services__tile_list_content_wpr">
                                                <p>- Wireframing</p>
                                                <p>- Branding</p>
                                                <p>- Motion Design</p>
                                                <p>- User Experience</p>
                                            </div>
                                        </div>
                                        <!-- <div class="services__tile__btn position-absolute">
                                            <a href="#"><button type="button" class="arrow__btn arrow__btn--black arrow__btn--exp fs-18 "></button></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="h-100 position-relative p-4 content content-3" data-slide="3">
                                <div class="content-head position-relative h-100">
                                    <div class="services__tile__content position-relative mx-auto pt-5 h-100">
                                        <div class="services__tile__heading w-100 position-absolute h-100">
                                            <h1 class="lh-1-6 ff-pri fs-24 fw-300">Web & Mobile Development
                                            </h1>
                                            <div class="slide__up__content__wpr">
                                                <p class="services__tile__para pt-4 ff-pri fs-16 fw-300 lh-2">Rooted in
                                                    technology and engineering, weʼre hard-wired to prototype, build
                                                    and deliver.
                                                </p>
                                                <div class="position-relative ">
                                                    <hr class="dash">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="services__tile_list_content mb-0 ff-pri fs-15 fw-300 lh-1-6 position-absolute">
                                            <div class="services__tile_list_content_wpr">
                                                <p>- Rapid Prototyping</p>
                                                <p>- Full-Stack Development</p>
                                                <p>- App Development</p>
                                                <p>- Usability Testing</p>
                                            </div>
                                        </div>
                                        <!-- <div class="services__tile__btn position-absolute">
                                            <a href="#"><button type="button" class="arrow__btn arrow__btn--black arrow__btn--exp fs-18 "></button></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="h-100 position-relative p-4 content content-4" data-slide="4">
                                <div class="content-head position-relative h-100">
                                    <div class="services__tile__content position-relative mx-auto pt-5 h-100">
                                        <div class="services__tile__heading w-100 position-absolute h-100">
                                            <h1 class="lh-1-6 ff-pri fs-24 fw-300">Emerging Tech Innovation

                                            </h1>
                                            <div class="slide__up__content__wpr">
                                                <p class="services__tile__para pt-4 ff-pri fs-16 fw-300 lh-2">We help
                                                    our partners navigate the ever-evolving landscape of digital tech
                                                    innovation.
                                                </p>
                                                <div class="position-relative ">
                                                    <hr class="dash">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="services__tile_list_content mb-0 ff-pri fs-15 fw-300 lh-1-6 position-absolute">
                                            <div class="services__tile_list_content_wpr">
                                                <p>- IoT</p>
                                                <p>- AI/ML</p>
                                                <p>- Blockchain</p>
                                                <p>- Chatbots</p>
                                            </div>
                                        </div>
                                        <!-- <div class="services__tile__btn position-absolute">
                                            <a href="#"><button type="button" class="arrow__btn arrow__btn--black arrow__btn--exp fs-18 "></button></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Expertise -->

    <!-- Expertise Mobile -->
    <section id="expertise-mobile" class="expertise-mobile position-relative dark_section">
        <div class="container-fluid p-0 m-0">
            <div class="row no-gutters">
                <div class="expertise-mobile__tile col-12 col-md-6 ovf-h">
                    <div class="expertise-mobile__tile__content position-relative pt-3 h-100">
                        <h1 class="m-0 px-5 pt-5 pb-3 lh-2 ff-pri fs-18 fw-300 text-center ">Strategy, Research & <br />Insights
                        </h1>
                        <p class="text-center mt-5 px-3 mx-5 fs-15 fw-300 lh-2">Weʼre
                            insight-driven, bringing brand, UX and technology together with a
                            human-centered approach.</p>
                        <div class="position-relative">
                            <hr class="dash">
                        </div>
                        <!-- <div class="expertise-mobile__btn__wpr position-absolute pb-5 w-100">
                            <button class="btn__mobile btn__mobile--white fs-18 ">Explore</button>
                        </div> -->
                    </div>
                </div>
                <div class="expertise-mobile__tile col-12 col-md-6 ovf-h">
                    <div class="expertise-mobile__tile__content position-relative pt-3 h-100">
                        <h1 class="m-0 px-5 pt-5 pb-3 lh-2 ff-pri fs-18 fw-300 text-center ">User Experience
                            Design
                        </h1>
                        <p class="text-center mt-5 px-3 mx-5 fs-15 fw-300 lh-2">We care deeply about our craft and work
                            with brands who understand the
                            importance of investing in design.
                        </p>
                        <div class="position-relative">
                            <hr class="dash">
                        </div>
                        <!-- <div class="expertise-mobile__btn__wpr  position-absolute pb-5 w-100">
                            <button class="btn__mobile btn__mobile--white fs-18 ">Explore</button>
                        </div> -->
                    </div>
                </div>
                <div class="expertise-mobile__tile col-12 col-md-6 ovf-h">
                    <div class="expertise-mobile__tile__content position-relative pt-3 h-100">
                        <h1 class="m-0 px-5 pt-5 lh-2 ff-pri fs-18 fw-300 text-center ">Web & Mobile<br /> Development</h1>
                        <p class="text-center mt-5 pb-3 px-3 mx-5 fs-15 fw-300 lh-2">Rooted in technology and
                            engineering, weʼre hard-wired to prototype, build and
                            measure results.
                        </p>
                        <div class="position-relative">
                            <hr class="dash">
                        </div>
                        <!-- <div class="expertise-mobile__btn__wpr  position-absolute pb-5 w-100">
                            <button class="btn__mobile btn__mobile--white fs-18 ">Explore</button>
                        </div> -->
                    </div>
                </div>
                <div class="expertise-mobile__tile col-12 col-md-6 ovf-h">
                    <div class="expertise-mobile__tile__content position-relative pt-3 h-100">
                        <h1 class="m-0 px-5 pt-5 lh-2 ff-pri fs-18 fw-300 text-center ">Emerging Tech
                            <br /> Innovation
                        </h1>
                        <p class="text-center mt-5 pb-3 px-3 mx-5 fs-15 fw-300 lh-2">We help our partners navigate the
                            ever-evolving landscape of digital tech
                            innovation.
                        </p>
                        <div class="position-relative">
                            <hr class="dash">
                        </div>
                        <!-- <div class="expertise-mobile__btn__wpr  position-absolute pb-5 w-100">
                            <button class="btn__mobile btn__mobile--white  fs-18 ">Explore</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Expertise Mobile -->
