<!-- Press List -->
{% load static %}
<section id="press" class="position-relative dark_section">
    <div class="container my-xl-5 py-5">
        <div class="mt-5 py-xl-5">
            <h3 class="bar__heading bar__heading--white position-relative text-white text-uppercase text-center text-xl-left fs-16 fs-xl-18 fw-400">Select
                Press</h3>
            <div class="mx-xl-5 px-xl-5">
                <div class="row no-gutters my-5 mx-0 py-xl-5 px-0 ">
                    <div class="col-12 col-md-12">
                        <div class="mt-0 mt-xl-5 pt-xl-5 px-5 px-md-0">
                            <div>
                                <div class="press-list">
                                    <ul class="row no-gutters">
                                        <li class="col-6 col-xl d-inline-block my-5 my-xl-0 mx-0 ml-md-0 mr-xl-auto">
                                            <a target="_blank" href="https://techcrunch.com/2017/12/13/lily-raises-2m-from-nea-and-others-for-a-personal-stylist-service-that-considers-feelings-not-just-fit/"
                                                class="ga-event" data-label="Lily - TechCrunch" data-category="Press">
                                                <div class="d-flex h-100 align-items-center justify-content-center p-5 p-xl-0 press-tile">
                                                    <img class="img-fluid" src="{% static 'web/images/home/press/tc.svg' %}"  alt="Tech Chrunch" />
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-6 col-xl d-inline-block my-5 my-xl-0 mx-0 mx-xl-auto">
                                            <a target="_blank" href="https://www.forbes.com/sites/forbesstylefile/2017/06/22/designer-spotlight-lilys-award-winning-shopping-app-first-to-recognize-buyers-emotions/#11b77e384e45"
                                                class="ga-event" data-label="Lily - Forbes" data-category="Press">
                                                <div class="d-flex h-100 align-items-center justify-content-center p-5 p-xl-0 press-tile">
                                                    <img class="img-fluid" src="{% static 'web/images/home/press/frobes@3x.png' %}" 
                                                        alt="Forbes" />
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-6 col-xl d-inline-block my-5 my-xl-0 mx-0 mx-xl-auto">
                                            <a target="_blank" href="https://www.huffingtonpost.in/2018/09/29/this-small-indian-company-is-building-a-medical-diagnostic-lab-in-your-pocket_a_23539925/"
                                                class="ga-event" data-label="Inito - Huffpost" data-category="Press">
                                                <div class="d-flex h-100 align-items-center justify-content-center p-3 p-xl-0 press-tile">
                                                    <img class="img-fluid" src="{% static 'web/images/home/press/huffpost@3x.png' %}" 
                                                        alt="The Huffington Post" />
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-6 col-xl d-inline-block my-5 my-xl-0 mx-0 mx-xl-auto">
                                            <a target="_blank" href="https://www.youtube.com/watch?time_continue=2&v=kHsaPCdU-5M"
                                                class="ga-event" data-label="Lily - TedX" data-category="Press">
                                                <div class="d-flex h-100 align-items-center justify-content-center p-5 p-xl-0 press-tile">
                                                    <img class="img-fluid" src="{% static 'web/images/home/press/ted.svg' %}"  alt="Tedx" />
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-6 col-xl d-inline-block my-5 my-xl-0 mx-auto mx-xl-0 mr-xl-0">
                                            <a target="_blank" href="https://www.vccircle.com/ai-is-passe-this-app-uses-emotional-intelligence-to-help-women-pick-perfect-outfits/"
                                                class="ga-event" data-label="Lily - VCCircle" data-category="Press">
                                                <div class="d-flex h-100 align-items-center justify-content-center p-5 p-xl-0 press-tile">
                                                    <img class="img-fluid" src="{% static 'web/images/home/press/vcvircle@3x.png' %}" 
                                                        alt="VCCircle" />
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-none d-md-block">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Press List -->