 <!-- testimonials section -->
 <section id="testimonials" class="testimonials-carousel py-5 py-xl-5">
        <div class="container py-0">
            <div class="testimonials-carousel__wpr  py-5 py-xl-5">
                <h3 class="testimonials__head position-relative pt-5 text-uppercase text-center text-xl-left ff-pri fs-16 fs-xl-18 fw-400">
                    Testimonials</h3>
                <div id="carousel-testimonial" class="carousel slide carousel-fade position-relative" data-ride="carousel">
                    <div class="testimonial_slider pb-xl-2">
                        <div class="text-center">
                            <p class="testimonials__text pt-3 pt-xl-5 px-5 px-xl-0 pb-4 ff-pri fs-16 fs-xl-18 fw-300 lh-1-4 ">
                                Nickelfox's ability to provide full services sets them apart. The team is very
                                responsive & committed to time bound delivery.
                            </p>
                            <p class="testimonials-carousel__reviewer mt-xl-0 ff-pri fs-16 fs-xl-16 fw-600 m-0 lh-1-8 ">
                                Sean Austin
                            </p>
                            <p class="ff-pri fs-16 fs-xl-16 fw-300 m-0 lh-1-8 ">
                                VP Engineering, Taste App
                            </p>
                        </div>
                        <div class=" text-center">
                            <p class="testimonials__text pt-3 pt-xl-5 px-5 px-xl-0 pb-4 ff-pri fs-16 fs-xl-18 fw-300 lh-1-4 ">
                                I am bowled over by the passion, energy and can-do attitude that every member of the
                                team at Nickelfox brings to the table. It’s an absolute pleasure to work with them
                                from ideation to execution.
                            </p>
                            <p class="testimonials-carousel__reviewer mt-xl-0 ff-pri fs-16 fs-xl-16 fw-600 m-0 lh-1-8 ">
                                Purva Gupta
                            </p>
                            <p class="ff-pri fs-16 fs-xl-16 fw-300 m-0 lh-1-8">
                                CEO of Lily
                            </p>
                        </div>
                        <div class=" text-center">
                            <p class="testimonials__text pt-3 pt-xl-5 px-5 px-xl-0 pb-4 ff-pri fs-16 fs-xl-18 fw-300 lh-1-4 ">
                                A Team of very creative, pro-active, diligent and thorough professionals. Nickelfox
                                team helped us with Inito Mobile App Architecture, UI/UX and to use Mobile’s Image
                                Processing Capability in the best possible way.
                            </p>
                            <p class="testimonials-carousel__reviewer mt-xl-0 ff-pri fs-16 fs-xl-16 fw-600 m-0 lh-1-8 ">
                                Aayush Rai
                            </p>
                            <p class="ff-pri fs-16 fs-xl-16 fw-300 m-0 lh-1-8 ">
                                Founder, Inito (Samplytics)
                            </p>
                        </div>
                        <div class=" text-center">
                            <p class="testimonials__text pt-3 pt-xl-5 px-5 px-xl-0 pb-4 ff-pri fs-16 fs-xl-18 fw-300 lh-1-4 ">
                                Nickelfox has been the best agency I have worked with. Besides their technical
                                strengths, the team has demonstrated exceptional project management.
                            </p>
                            <p class="testimonials-carousel__reviewer mt-xl-0 ff-pri fs-16 fs-xl-16 fw-600 m-0 lh-1-8 ">
                                Zahen Khan
                            </p>
                            <p class="ff-pri fs-16 fs-xl-16 fw-300 m-0 lh-1-8 ">
                                CMO, Kora Network
                            </p>
                        </div>
                        <div class=" text-center">
                            <p class="testimonials__text pt-3 pt-xl-5 px-5 px-xl-0 pb-4 ff-pri fs-16 fs-xl-18 fw-300 lh-1-4 ">
                                Their drive and ambition to deliver excellence coupled with their super innovative
                                capabilities have made the journey even more exciting. Nickelfox played a key role in
                                getting us the visibility for our customers and partners.
                            </p>
                            <p class="testimonials-carousel__reviewer mt-xl-0 ff-pri fs-16 fs-xl-16 fw-600 m-0 lh-1-8 ">
                                Manish Jethani
                            </p>
                            <p class="ff-pri fs-16 fs-xl-16 fw-300 m-0 lh-1-8 ">
                                CEO, Spoonjoy (Now part of Grofers)
                            </p>
                        </div>
                        <div class=" text-center">
                            <p class="testimonials__text pt-3 pt-xl-5 px-5 px-xl-0 pb-4 ff-pri fs-16 fs-xl-18 fw-300 lh-1-4 ">
                                Nickelfox team’s enthusiasm and dedication are evident from the work they do. Keeping
                                up with the trends is their forte. Our association with them has been of great value.
                            </p>
                            <p class="testimonials-carousel__reviewer mt-xl-0 ff-pri fs-16 fs-xl-16 fw-600 m-0 lh-1-8 ">
                                Siddarth Sood
                            </p>
                            <p class="ff-pri fs-16 fs-xl-16 fw-300 m-0 lh-1-8 ">
                                Founder, Wedtalk
                            </p>
                        </div>
                    </div>

                    <!-- <div class="testimonials-carousel__control-wpr mt-5 w-100">
                        <div id="testimonial-controls" class="testimonials-carousel__control-inr position-relative d-flex align-items-center mx-auto mx-xl-0 ml-xl-auto h-100">
                            <div class="w-50 slick-pre">
                                <img class="d-block cursor  mx-auto mx-xl-0 ml-xl-auto" src="assets/img/home/slider-control-left.svg">
                            </div>
                            <div class=" w-50 slick-nex">
                                <img class="d-block cursor  mx-auto mx-xl-0 ml-xl-auto" src="assets/img/home/slider-control-right.svg">
                            </div>
                        </div>
                    </div> -->

                </div>

            </div>
        </div>

    </section>