<!-- WHAT WE DO -->
<section id="what-we-do" class="what-we-do py-5">
    <div class="container text-center text-xl-left my-0 my-xl-5 p-0 px-xl-4 py-5ff-pri ">
        <div class="my-0 my-xl-5 px-5 px-xl-0 ">
            <div class="what-we-do__heading  py-5">
                <div class="heading-dash mx-auto mx-xl-0"></div>
                <h2 class=" dash-heading fs-15 fs-xl-18 fw-400">WHAT WE DO</h2>
            </div>
            <div class="text-wave-on-enter  what-we-do__strong-heading mx-auto mx-xl-0 mb-5">
                <h1 class="fs-24 fs-xl-38 fw-400 ls-2 position-relative">We Build Digital Experiences for Brands
                    with
                    Purpose</h1>
            </div>
            <div class="text-wave-on-enter what-we-do__para mx-auto mx-xl-0  pb-5 pt-3">
                <p class=" fs-16 fs-xl-18 fw-300 lh-1-6 ls-1 lh-1-7 m-0">Starting with a foundation of research,
                    our
                    team’s
                    sprint-based approach eliminates assumptions, includes frequent testing and produces impeccable
                    results.</p>
            </div>
        </div>
    </div>
</section>