    <!-- footer -->
    {% load static %}
    <footer>
            <div class="container-fluid dark_section footer m-0 pt-5">
                <div class="footer__link__wpr d-flex flex-lg-row py-5 fs-14 text-left text-xl-center fw-100 ls-1-6 justify-content-lg-center  justify-content-between ff-pri">
                    <div class="d-flex flex-lg-row flex-column mx-auto text-center w-50">
                        <!-- <div class="footer__link my-lg-5 my-4">
                                    <a href="#" class="footer__link__news text-white mr-lg-5 pr-lg-5 ml-lg-0 pl-lg-0 ml-5">News &
                                        Updates
                                    </a>
                                </div> -->
                        <div class="footer__link pr-0 py-3 py-lg-0 w-100 ">
                            <a href="careers.html" class="footer__link__careers text-white d-inline-block float-xl-right mr-xl-5"
                                data-scope="footer">Careers</a>
                        </div>
                        <!-- <div class="footer__link my-lg-5 my-4 order-2 order-lg-1 w-100">
                                    <a href="#" class="footer__link__faq text-white ">FAQ</a>
                                </div> -->
                        <div class="footer__link pl-0 order-1 order-lg-2 w-100 ">
                            <a href="contact.html" class="footer__link__contact text-white d-inline-block float-xl-left ml-xl-2"
                                data-scope="footer">Contact
                                Us</a>
                        </div>
                    </div>
                    <!-- <div class="d-flex flex-lg-row flex-column"> 
                            </div> -->
                </div>
                <!-- <div class="footer__social__wpr d-flex flex-row py-lg-5 my-lg-5 py-4 my-4 justify-content-center"> -->
                <div class="footer__social__wpr my-5 pb-5 d-flex flex-row justify-content-center">
                    <div class="footer__social mr-5">
                        <a target="_blank" data-toggle="tooltip" data-placement="top" title="Dribbble" href="https://dribbble.com/nickelfoxstudio"
                            class="ga-event" data-social-network="Dribble - Home" data-category="Social">
                            <img width="20" src="{% static 'web/images/footer/dribble.svg' %}" class="footer__social__dribb" />
                        </a>
                    </div>
                    <div class="footer__social mr-5">
                        <a target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter" href="https://twitter.com/nickelfoxstudio"
                            class="ga-event" data-social-network="Twitter - Home" data-category="Social">
                            <img width="20" src="{% static 'web/images/footer/twitter.svg' %}"  class="footer__social__twitter pt-1" />
                        </a>
                    </div>
                    <div class="footer__social mr-5">
                        <a target="_blank" data-toggle="tooltip" data-placement="top" title="LinkedIn" href="https://www.linkedin.com/company/nickelfox/"
                            class="ga-event" data-social-network="Linkedin - Home" data-category="Social">
                            <img width="20" src="{% static 'web/images/footer/linkedin.svg' %}"  class="footer__social__in" />
                        </a>
                    </div>
                    <div class="footer__social mr-5">
                        <a target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram" href="https://www.instagram.com/nickelfoxstudio/"
                            class="ga-event" data-social-network="Instagram - Home" data-category="Social">
                            <img width="20" src="{% static 'web/images/footer/instagram.svg' %}"  class="footer__social__insta" />
                        </a>
                    </div>
                    <div class="footer__social">
                        <a target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook" href="https://www.facebook.com/NickelfoxStudio/"
                            class="ga-event" data-social-network="Facebook - Home" data-category="Social">
                            <img width="20" src="{% static 'web/images/footer/facebook.svg' %}"  class="footer__social__fb" />
                        </a>
                    </div>
                </div>
                <div class="row no-gutters mt-5">
                    <div class="col-12 text-center position-relative p-0 m-0">
                        <a class="position-relative d-inline-block fox-btn">
                            <span>
                                <img id="fox-eyed" width="30" src="{% static 'web/images/footer/fox-eyed.svg' %}"  class="footer__fox cursor position-absolute">
                                <img id="fox-normal" width="30" src="{% static 'web/images/footer/fox-normal.svg' %}"  class="footer__fox cursor">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="text-center mt-3 fs-10 ff-pri ls-1-6">
                    <p class="text-white mb-0 pb-5">&copy; 2018 Nickelfox. All Rights Reserved</p>
                </div>
            </div>
            <div id="footerVideo" class="position-absolute ">
                <div class="position-fixed footer-video-container ">
                    <a class="close-footer-video-btn cursor position-absolute">&times;</a>
                    <div id="footerVideoContainer" class="position-relative"></div>
                </div>
            </div>
        </footer>
        <!-- footer -->